
@{
    ViewBag.Title = "AboutUsForNonUsers";
    Layout = "~/Views/Shared/MainLayout.cshtml";
}

<h2>About Us</h2>

<p>
    Books at Books.Com
    The Books.com Books homepage helps you explore Earth's Biggest Bookstore without ever leaving the comfort of your couch. Here you'll find current best sellers in books, new releases in books, deals in books, Kindle eBooks, Audible audiobooks, and so much more. We have popular genres like Literature & Fiction, Children's Books, Mystery & Thrillers, Cooking, Comics & Graphic Novels, Romance, Science Fiction & Fantasy, and Amazon programs such as Best Books of the Month, the Amazon Book Review, and Amazon Charts to help you discover your next great read.

    In addition, you'll find great book recommendations that may be of interest to you based on your search and purchase history, as well as the most wished for and most gifted books. We hope you enjoy the Amazon.com Books homepage!


</p>

